@page
@model IndexModel
@{
    ViewData["Title"] = "Verified Employee";
}

<div class="text-center">
    <h1 class="display-4"></h1>
    Get employees credentials and add to wallet.
</div>

<div class="text-center">
    <img src="~/images/user-solid.svg" width="200" alt="Employee" style="padding: 5px" />
</div>

